---
const title = Astro.props.title;
const bannerHight = 150;
---

<div>
<a href="/"><p>{title}</p></a>
</div>
<style define:vars={{bannerHight}}>
div {
  border-width: 1px;
  height: 150px;
  width: 800px;
  border-color: blue;
  border-style: solid;
}
p {
  text-align:center;
  text-justify:center;
  position: relative;
  /* top: (150/2)px; */
  top: 65px;
  font-size: 75px;
}
</style>
